n8n/kasseninfodienst_workflow.json
{
  "name": "KassenInfodienst – GKV Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }] }
      },
      "id": "trigger-daily",
      "name": "Täglich 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 5" }] }
      },
      "id": "trigger-friday",
      "name": "Freitags 08:00 (Weekly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 120]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ted.europa.eu/v3/notices/search",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'buyer-country = DEU AND publication-date >= ' + $now.minus({days: 30}).toFormat('yyyyMMdd'), fields: ['publication-number','notice-title','buyer-name','classification-cpv','total-value','estimated-value-proc','publication-date','notice-type'], limit: 250, scope: 'ALL', paginationMode: 'PAGE_NUMBER', page: 1 }) }}",
        "options": { "timeout": 20000 }
      },
      "id": "ted-api",
      "name": "TED Ausschreibungen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, -200]
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 15 GKV-Kassen + BITMARCK + ITSC\nreturn [\n  { json: { authorCompany: 'Techniker Krankenkasse' } },\n  { json: { authorCompany: 'BARMER Krankenkasse' } },\n  { json: { authorCompany: 'DAK-Gesundheit' } },\n  { json: { authorCompany: 'IKK classic' } },\n  { json: { authorCompany: 'KKH Kaufmännische Krankenkasse' } },\n  { json: { authorCompany: 'SBK Siemens-Betriebskrankenkasse' } },\n  { json: { authorCompany: 'hkk Handelskrankenkasse' } },\n  { json: { authorCompany: 'BKK firmus' } },\n  { json: { authorCompany: 'Mobil Krankenkasse' } },\n  { json: { authorCompany: 'Audi BKK' } },\n  { json: { authorCompany: 'VIACTIV Krankenkasse' } },\n  { json: { authorCompany: 'IKK Südwest' } },\n  { json: { authorCompany: 'HEK Hanseatische Krankenkasse' } },\n  { json: { authorCompany: 'Pronova BKK' } },\n  { json: { authorCompany: 'BAHN-BKK' } },\n  { json: { authorCompany: 'BITMARCK' } },\n  { json: { authorCompany: 'ITSC GmbH' } }\n];"
      },
      "id": "linkedin-suchbegriffe",
      "name": "LinkedIn Suchbegriffe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, -40]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "=https://linkdapi.com/api/v1/search/posts?authorCompany={{ encodeURIComponent($json.authorCompany) }}&datePosted=past-month&sortBy=date_posted",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "2AZJHqeS0X9NUG2A", "name": "linkdAPI Key" }
      },
      "id": "linkdapi-author",
      "name": "LinkedIn Author-Suche",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [300, -80]
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// LinkedIn API-Antworten aufbereiten + filtern (Entscheider + IT-Thema oder >50 Reaktionen)\nconst items = $input.all();\nconst result = [];\nconst seenTexts = new Set();\n\nconst ENTSCHEIDER = ['vorstand','ceo','cio','cto','cdo','coo','cfo','geschäftsführer','vorsitzender','geschäftsbereichsleiter','leiter geschäftsbereich','bereichsleiter','head of','it-leiter','digitalisierungsleiter'];\nconst THEMEN_IT = ['ki ','künstliche intelligenz','automatisierung','digitalisierung','software','cloud','plattform',' api ','daten','system','it-','cyber','sicherheit','technologie','agil','scrum'];\n\nfor (const item of items) {\n  const posts = item.json.data || item.json.posts || item.json.elements || [];\n  for (const post of Array.isArray(posts) ? posts : []) {\n    const text = (post.text || post.commentary || post.content || '').trim();\n    if (!text || text.length < 20) continue;\n    const textKey = text.substring(0, 80);\n    if (seenTexts.has(textKey)) continue;\n    seenTexts.add(textKey);\n\n    const author = post.author || {};\n    const actorName = author.fullName || author.name || post.authorName || '';\n    const actorTitle = (author.headline || author.title || '').toLowerCase();\n    const likes = parseInt(post.totalReactionCount || post.numLikes || post.likes || 0);\n    const comments = parseInt(post.numComments || post.comments || 0);\n    const reactions = likes + comments;\n\n    const isEntscheider = ENTSCHEIDER.some(k => actorTitle.includes(k));\n    const isItThema = THEMEN_IT.some(k => text.toLowerCase().includes(k));\n    const isViral = reactions >= 50;\n\n    // Nur Entscheider-Posts; davon nur IT-Themen oder virale Posts\n    if (!isEntscheider && !isViral) continue;\n    if (isEntscheider && !isItThema && !isViral) continue;\n\n    result.push({ json: {\n      _source: 'LinkedIn',\n      title: text.substring(0, 120),\n      text: text,\n      link: post.url || post.postUrl || post.shareUrl || '',\n      postedAt: post.postedAt || post.date || '',\n      author: actorName,\n      contentSnippet: `${actorName}${actorTitle ? ' (' + actorTitle.substring(0,60) + ')' : ''}: ${text.substring(0,300)} (👍${likes} 💬${comments})`\n    }});\n  }\n}\nreturn result;"
      },
      "id": "linkedin-flatten",
      "name": "LinkedIn Posts aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, -80]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://linkdapi.com/api/v1/search/posts?keyword=GKV%20Krankenkasse%20Digitalisierung%20Fusionen&datePosted=past-month&sortBy=date_posted",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "2AZJHqeS0X9NUG2A", "name": "linkdAPI Key" }
      },
      "id": "linkdapi-keyword",
      "name": "LinkedIn Keyword-Suche",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [300, 40]
    },

    {
      "parameters": { "url": "https://news.google.com/rss/search?q=GKV-Spitzenverband&hl=de&gl=DE&ceid=DE:de" },
      "id": "rss-gkv",
      "name": "RSS: GKV-Spitzenverband",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 160]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=vdek+Ersatzkassen&hl=de&gl=DE&ceid=DE:de" },
      "id": "rss-vdek",
      "name": "RSS: vdek",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 260]
    },
    {
      "parameters": { "url": "https://www.aerzteblatt.de/rss/nachrichten.xml" },
      "id": "rss-aerzteblatt",
      "name": "RSS: Ärzteblatt",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 360]
    },
    {
      "parameters": { "url": "https://www.krankenkassen.info/feed/" },
      "id": "rss-kkinfo",
      "name": "RSS: krankenkassen.info",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 660]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=site%3Akrankenkassen-direkt.de+OR+krankenkassen-direkt&hl=de&gl=DE&ceid=DE:de" },
      "id": "rss-kkdirekt",
      "name": "RSS: krankenkassen-direkt.de",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 760]
    },
    {
      "parameters": { "url": "https://www.heise.de/rss/heise-atom.xml" },
      "id": "rss-heise",
      "name": "RSS: Heise",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 460]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=GKV+Krankenkasse+Gesundheitspolitik&hl=de&gl=DE&ceid=DE:de" },
      "id": "rss-bafin",
      "name": "RSS: GKV Gesundheitspolitik",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 560]
    },

    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-all",
      "name": "Alle Quellen zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 180]
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Deduplizierung: Items mit bereits gesehenen URLs/Hashes überspringen\nconst items = $input.all();\nconst seen = new Set();\nconst fresh = [];\n\nfor (const item of items) {\n  const key = item.json.url || item.json.link || item.json.id || \n              (item.json.text || '').substring(0, 80);\n  const hash = key.replace(/\\s+/g, '').toLowerCase();\n  if (!seen.has(hash)) {\n    seen.add(hash);\n    fresh.push({ ...item, json: { ...item.json, _hash: hash } });\n  }\n}\n\n// Nur Items der letzten 2 Tage (täglicher Newsletter)\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\nreturn fresh.filter(item => {\n  const pub = item.json.pubDate || item.json.postedAt || item.json['publication-date'];\n  if (!pub) return true;\n  return new Date(pub) >= cutoff;\n});"
      },
      "id": "dedup",
      "name": "Deduplizierung + Zeitfilter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 180]
    },

    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $input.all().length }}", "operation": "largerEqual", "value2": 5 }]
        }
      },
      "id": "threshold-check",
      "name": "≥ 5 neue Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 180]
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Rohdaten für Claude zusammenstellen\nconst items = $input.all();\nlet text = '## Rohdaten dieser Ausgabe\\n\\n';\n\nfor (const item of items) {\n  const src = item.json._source || 'Unbekannt';\n  const title = item.json.title || item.json.text?.substring(0, 100) || 'Kein Titel';\n  const url = item.json.url || item.json.link || '';\n  const date = item.json.pubDate || item.json.postedAt || '';\n  const body = item.json.contentSnippet || item.json.text?.substring(0, 400) || '';\n\n  text += `### [${src}] ${title}\\n`;\n  if (date) text += `Datum: ${date}\\n`;\n  if (url) text += `URL: ${url}\\n`;\n  if (body) text += `${body}\\n`;\n  text += '\\n';\n}\n\nreturn [{ json: { rohdaten: text, item_count: items.length } }];"
      },
      "id": "format-for-claude",
      "name": "Rohdaten für Claude formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 100]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "anthropic-beta", "value": "prompt-caching-2024-07-31" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1200, system: [{ type: 'text', text: 'Du bist ein GKV-Marktanalyst. Bewerte jeden Eintrag auf Relevanz für einen IT-Vertriebsmanager im GKV-Markt. Skala 1-5. Gib nur Einträge mit Score ≥ 3 zurück, komprimiert als Bullet-Liste mit Datum, Quelle und Kernaussage.', cache_control: { type: 'ephemeral' } }], messages: [{ role: 'user', content: $json.rohdaten }] }) }}",
        "options": { "timeout": 60000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "rfQjWh9ed157YC85", "name": "Anthropic API Key" }
      },
      "id": "claude-haiku-score",
      "name": "Claude Haiku: Relevanz-Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 100]
    },

    {
      "parameters": {
        "jsCode": "const haiku = $input.first().json;\nconst scored = haiku.content?.[0]?.text || '';\nreturn [{ json: { haiku_scored: scored } }];"
      },
      "id": "extract-haiku-text",
      "name": "Haiku-Text extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 100]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 6000, system: 'Du erstellst meinen persönlichen täglichen GKV-Marktbrief. Ich bin Christian Galler, B2B-IT-Vertrieb im GKV-Markt. Das ist meine persönliche Geheimwaffe – nicht für Kollegen, nicht zum Teilen. Schreib direkt zu mir, wie ein brillanter Analyst der mir morgens alles auf den Tisch legt was ich wissen muss.\\n\\nStil: dfg – Dienst für Gesellschaftspolitik (Wolfgang G. Lange). Knapp, pointiert, investigativ. Keine Floskeln.\\n\\nEISERNE REGELN:\\n1. NUR was in den Rohdaten steht. Null Erfindungen.\\n2. Kein Filler: kein \"Gerüchte kursieren\", kein \"Namen folgen\", kein \"liegt nicht vor\". Abschnitt weglassen wenn leer.\\n3. IMMER Ross und Reiter: Vorname Nachname, Jobtitel, Kasse/Firma. Nie \"ein Vorstand\" oder \"eine große Kasse\".\\n4. Bei Fusionen/Personalien: Wer konkret? Welche Kassen? Wer schreibt was auf LinkedIn?\\n5. Links immer mit angeben wenn in den Daten.\\n\\nSTRUKTUR (nur Abschnitte mit echten Daten – lieber 2 starke als 6 schwache):\\n\\n## 📣 LinkedIn-Radar\\nDer wichtigste Abschnitt. Pro Post:\\n**Vorname Nachname** (Jobtitel, Firma) · Datum · 👍X\\n> \"Wörtliches Zitat oder konkreter Post-Inhalt\"\\nMeine Einordnung in 2-3 Sätzen: Was steckt dahinter? Was bedeutet das für mein Geschäft?\\n\\n## 🔥 Wer kommt / Wer geht\\nNur konkrete Personalien. Voller Name · alte Rolle → neue Rolle · Firma · Datum.\\n\\n## 💎 Ausschreibungen\\nAuftraggeber · Volumen · CPV · Frist · Link. Was will die Kasse konkret kaufen?\\n\\n## 📰 Markt & Politik\\nKrankenkassen.info, vdek, GKV-Spitzenverband, Ärzteblatt. Nur mit Quelle und Link.\\n\\n## 🎯 Meine 3 Action Items heute\\nKonkret. Wen anrufen? Welche Ausschreibung prüfen? Welchen LinkedIn-Post kommentieren?\\n\\nSprache: Deutsch. Kein Begrüßungstext. Direkt in den ersten Abschnitt.', messages: [{ role: 'user', content: 'Hier sind die heutigen Rohdaten:\\n\\n' + $json.haiku_scored }] }) }}",
        "options": { "timeout": 90000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "rfQjWh9ed157YC85", "name": "Anthropic API Key" }
      },
      "id": "claude-sonnet-newsletter",
      "name": "Claude Sonnet: Newsletter schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 100]
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Newsletter-Text aus Claude-Response extrahieren\nconst response = $input.first().json;\nconst text = response.content?.[0]?.text || 'Fehler: Kein Newsletter generiert';\n\n// Einfache Markdown→HTML Konvertierung für Email\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head><meta charset=\"utf-8\"><style>\nbody { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; background: #f1f5f9; margin: 0; padding: 24px 8px 48px; color: #1e293b; font-size: 15px; line-height: 1.7; }\n.wrapper { max-width: 640px; margin: 0 auto; }\n.header { background: #0f172a; padding: 32px 36px 28px; text-align: center; border-radius: 14px 14px 0 0; }\n.header-eyebrow { font-size: 11px; font-weight: 700; letter-spacing: 3px; text-transform: uppercase; color: #38bdf8; margin: 0 0 10px; }\n.header h1 { font-size: 28px; font-weight: 800; color: #f8fafc; margin: 0 0 8px; }\n.header-sub { font-size: 13px; color: #64748b; margin: 0 0 20px; }\n.header-meta { font-size: 12px; color: #475569; border-top: 1px solid #1e293b; padding-top: 14px; }\n.header-meta span { color: #38bdf8; font-weight: 600; }\n.card { background: #fff; padding: 36px; border-radius: 0 0 14px 14px; border: 1px solid #e2e8f0; border-top: none; }\nh2 { font-size: 17px; font-weight: 700; color: #0f172a; margin: 40px 0 12px; padding: 13px 16px; background: #f8fafc; border-left: 4px solid #38bdf8; border-radius: 0 8px 8px 0; }\nh2:first-child { margin-top: 0; }\nh3 { font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 1.4px; color: #94a3b8; margin: 22px 0 6px; }\nul { list-style: none; padding: 0; margin: 4px 0 14px; }\nli { padding: 8px 12px 8px 14px; border-left: 3px solid #38bdf8; border-radius: 0 5px 5px 0; margin-bottom: 3px; color: #334155; background: #f8fafc; font-size: 14px; }\nli:nth-child(even) { border-left-color: #cbd5e1; background: #fff; }\np { margin: 8px 0; color: #334155; }\nblockquote { margin: 14px 0; padding: 13px 18px; background: #fefce8; border-left: 4px solid #eab308; border-radius: 0 8px 8px 0; color: #713f12; font-size: 14px; }\nstrong { color: #0f172a; font-weight: 600; }\na { color: #2563eb; text-decoration: none; font-weight: 500; }\n.footer { text-align: center; margin-top: 20px; color: #94a3b8; font-size: 12px; line-height: 2; }\n</style></head>\n<body><div class=\"wrapper\">\n<div class=\"header\">\n  <p class=\"header-eyebrow\">Wöchentlicher Branchenbrief</p>\n  <h1>KassenInfodienst</h1>\n  <p class=\"header-sub\">Nur was zählt — kuratiert, analysiert, direkt.</p>\n  <p class=\"header-meta\">GKV Marktintelligenz &bull; <span>${new Date().toLocaleDateString('de-DE', {day:'2-digit',month:'long',year:'numeric'})}</span></p>\n</div>\n<div class=\"card\">\n${text\n  .replace(/^## (.+)$/gm, '<h2>$1</h2>')\n  .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n  .replace(/^> (.+)$/gm, '<blockquote>$1</blockquote>')\n  .replace(/^- (.+)$/gm, '<li>$1</li>')\n  .replace(/(<li>.*<\\/li>\\n?)+/g, '<ul>$&</ul>')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\n{2,}/g, '</p><p>')\n  .replace(/^([^<\\n].+)$/gm, '<p>$1</p>')\n  .replace(/<p><\\/p>/g, '')\n}\n</div>\n<div class=\"footer\">Erstellt mit Claude Sonnet 4.6 via n8n &bull; ${new Date().toLocaleDateString('de-DE', {day:'2-digit',month:'long',year:'numeric'})}</div>\n</div></body></html>`;\n\nreturn [{ json: { newsletter_text: text, newsletter_html: html, generated_at: new Date().toISOString() } }];"
      },
      "id": "build-html",
      "name": "HTML-Email aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 100]
    },

    {
      "parameters": {
        "fromEmail": "christian.galler@gmail.com",
        "toEmail": "christian.galler@gmail.com",
        "subject": "=🏥 KassenInfodienst – {{ new Date().toLocaleDateString('de-DE') }}",
        "emailFormat": "html",
        "html": "={{ $json.newsletter_html }}",
        "options": {}
      },
      "credentials": {
        "smtp": { "id": "GokeQORhayYAAccg", "name": "Gmail SMTP" }
      },
      "id": "send-gmail",
      "name": "Gmail versenden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2000, 100]
    },

    {
      "parameters": {
        "chatId": "8604500773",
        "text": "=🏥 KassenInfodienst – {{ new Date().toLocaleDateString('de-DE') }}\n\n{{ $json.newsletter_text.replace(/[*_`\\[\\]]/g, '').substring(0, 800) }}...\n\nMail versendet.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "w8WwOfpucfusDAlj", "name": "Telegram Kasseninfodienst" }
      },
      "id": "telegram-notify",
      "name": "Telegram Zusammenfassung",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2000, 240]
    },

    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "*/30 * * * *" }] }
      },
      "id": "breaking-trigger",
      "name": "Breaking News Check (alle 30min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=GKV+%28Fusion+OR+BaFin+OR+Insolvenz+OR+Stellenabbau+OR+BITMARCK+OR+ITSC%29&hl=de&gl=DE&ceid=DE:de",
        "options": { "timeout": 10000 }
      },
      "id": "breaking-rss",
      "name": "Google News: Breaking Keywords",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [300, 600]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.pubDate }}", "operation": "after", "value2": "={{ $now.minus(35, 'minutes').toISO() }}" }]
        }
      },
      "id": "breaking-filter",
      "name": "Neu in letzten 35min?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 600]
    },
    {
      "parameters": {
        "chatId": "8604500773",
        "text": "=🚨 *Breaking GKV-News*\n\n*{{ $json.title }}*\n{{ $json.contentSnippet?.substring(0, 300) }}\n\n🔗 {{ $json.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": {
        "telegramApi": { "id": "w8WwOfpucfusDAlj", "name": "Telegram Kasseninfodienst" }
      },
      "id": "breaking-telegram",
      "name": "Sofort-Alert via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 560]
    }
  ],

  "connections": {
    "Täglich 06:00": { "main": [[{ "node": "TED Ausschreibungen", "type": "main", "index": 0 }, { "node": "RSS: GKV-Spitzenverband", "type": "main", "index": 0 }, { "node": "RSS: vdek", "type": "main", "index": 0 }, { "node": "RSS: Ärzteblatt", "type": "main", "index": 0 }, { "node": "RSS: Heise", "type": "main", "index": 0 }, { "node": "RSS: GKV Gesundheitspolitik", "type": "main", "index": 0 }, { "node": "LinkedIn Suchbegriffe", "type": "main", "index": 0 }, { "node": "LinkedIn Keyword-Suche", "type": "main", "index": 0 }]] },
    "LinkedIn Suchbegriffe": { "main": [[{ "node": "LinkedIn Author-Suche", "type": "main", "index": 0 }]] },
    "LinkedIn Author-Suche": { "main": [[{ "node": "LinkedIn Posts aufbereiten", "type": "main", "index": 0 }]] },
    "LinkedIn Posts aufbereiten": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "Freitags 08:00 (Weekly)": { "main": [[{ "node": "TED Ausschreibungen", "type": "main", "index": 0 }, { "node": "RSS: GKV-Spitzenverband", "type": "main", "index": 0 }, { "node": "RSS: Ärzteblatt", "type": "main", "index": 0 }]] },
    "TED Ausschreibungen": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "LinkedIn Keyword-Suche": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "RSS: GKV-Spitzenverband": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "RSS: vdek": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "RSS: Ärzteblatt": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "RSS: Heise": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "RSS: GKV Gesundheitspolitik": { "main": [[{ "node": "Alle Quellen zusammenführen", "type": "main", "index": 0 }]] },
    "Alle Quellen zusammenführen": { "main": [[{ "node": "Deduplizierung + Zeitfilter", "type": "main", "index": 0 }]] },
    "Deduplizierung + Zeitfilter": { "main": [[{ "node": "≥ 5 neue Items?", "type": "main", "index": 0 }]] },
    "≥ 5 neue Items?": {
      "main": [
        [{ "node": "Rohdaten für Claude formatieren", "type": "main", "index": 0 }],
        []
      ]
    },
    "Rohdaten für Claude formatieren": { "main": [[{ "node": "Claude Haiku: Relevanz-Scoring", "type": "main", "index": 0 }]] },
    "Claude Haiku: Relevanz-Scoring": { "main": [[{ "node": "Haiku-Text extrahieren", "type": "main", "index": 0 }]] },
    "Haiku-Text extrahieren": { "main": [[{ "node": "Claude Sonnet: Newsletter schreiben", "type": "main", "index": 0 }]] },
    "Claude Sonnet: Newsletter schreiben": { "main": [[{ "node": "HTML-Email aufbauen", "type": "main", "index": 0 }]] },
    "HTML-Email aufbauen": { "main": [[{ "node": "Gmail versenden", "type": "main", "index": 0 }, { "node": "Telegram Zusammenfassung", "type": "main", "index": 0 }]] },
    "Breaking News Check (alle 30min)": { "main": [[{ "node": "Google News: Breaking Keywords", "type": "main", "index": 0 }]] },
    "Google News: Breaking Keywords": { "main": [[{ "node": "Neu in letzten 35min?", "type": "main", "index": 0 }]] },
    "Neu in letzten 35min?": {
      "main": [
        [{ "node": "Sofort-Alert via Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  }
}
