n8n/kasseninfodienst_workflow_live_fixed.json
{
  "name": "KassenInfodienst – GKV Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "breaking-trigger",
      "name": "Breaking News Check (alle 30min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1056,
        -160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%22Krankenkasse%22+%28%22Fusion%22+OR+%22Vorstandswechsel%22+OR+%22BITMARCK%22+OR+%22ITSC%22+OR+%22gematik%22+OR+%22Ausschreibung%22+OR+%22Providerwechsel%22+OR+%22Insolvenz%22%29&hl=de&gl=DE&ceid=DE:de",
        "options": {}
      },
      "id": "breaking-rss",
      "name": "Google News: Breaking Keywords",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        208,
        -176
      ]
    },
    {
      "parameters": {
        "chatId": "8604500773",
        "text": "=🚨 *Breaking GKV-News*\n\n*{{ $json.title }}*\n{{ $json.contentSnippet?.substring(0, 300) }}\n\n🔗 {{ $json.link }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "breaking-telegram",
      "name": "Sofort-Alert via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2752,
        -160
      ],
      "webhookId": "a963afc9-32ad-4540-8a01-e944dc4d3fb2",
      "credentials": {
        "telegramApi": {
          "id": "w8WwOfpucfusDAlj",
          "name": "Telegram Kasseninfodienst"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.krankenkassen-direkt.de/rss/gkv-presse.xml",
        "options": {}
      },
      "id": "2da64d42-55fc-4f77-99a9-1951d9727e08",
      "name": "RSS: Krankenkassendirekt Pressemitteilungen",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        176,
        1552
      ]
    },
    {
      "parameters": {
        "url": "https://www.krankenkassen-direkt.de/rss/gkv-news.xml",
        "options": {}
      },
      "id": "fbf8b3bb-e59c-4986-86c5-e1e3e96a15ec",
      "name": "RSS: Krankenkassendirekt",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        192,
        1344
      ]
    },
    {
      "parameters": {
        "chatId": "8604500773",
        "text": "=🏥 *KassenInfodienst* – {{ new Date().toLocaleDateString('de-DE') }}\n\n{{ $json.newsletter_text.substring(0, 800) }}...\n\n_Vollständige Mail wurde versendet._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram Zusammenfassung",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2752,
        464
      ],
      "webhookId": "8f47a0e0-fc57-4454-8a46-473624c90d76",
      "credentials": {
        "telegramApi": {
          "id": "w8WwOfpucfusDAlj",
          "name": "Telegram Kasseninfodienst"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "christian.galler@gmail.com",
        "toEmail": "christian.galler@gmail.com",
        "subject": "=🏥 KassenInfodienst – {{ new Date().toLocaleDateString('de-DE') }}",
        "html": "={{ $json.newsletter_html }}",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Gmail versenden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2736,
        160
      ],
      "webhookId": "ee66cb3c-946e-4ee7-b8d1-0905f4f737d8",
      "credentials": {
        "smtp": {
          "id": "GokeQORhayYAAccg",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || '';\n\nfunction parseSections(text) {\n  const sections = [];\n  const rx = /=== SEKTION: (.+?) ===([\\s\\S]*?)(?==== SEKTION:|$)/g;\n  let m;\n  while ((m = rx.exec(text)) !== null) {\n    sections.push({ name: m[1].trim(), content: m[2].trim() });\n  }\n  return sections;\n}\n\nfunction parseLinkedIn(content) {\n  const posts = [];\n  const blocks = content.split(/^---$/m);\n  for (const block of blocks) {\n    if (!block.trim()) continue;\n    const p = {};\n    for (const line of block.trim().split('\\n')) {\n      const idx = line.indexOf(': ');\n      if (idx < 0) continue;\n      const k = line.substring(0, idx).trim();\n      const v = line.substring(idx + 2).trim();\n      if (k === 'AUTHOR')    p.author = v;\n      if (k === 'POSITION')  p.jobTitle = v;\n      if (k === 'COMPANY')   p.company = v;\n      if (k === 'DATE')      p.date = v;\n      if (k === 'REACTIONS') p.reactions = parseInt(v) || 0;\n      if (k === 'URL')       p.url = v;\n      if (k === 'TEXT')      p.text = v;\n    }\n    if (p.author && p.text) posts.push(p);\n  }\n  return posts;\n}\n\nfunction parseBullets(content) {\n  return content.split('\\n')\n    .filter(l => l.trim().startsWith('-'))\n    .map(l => l.replace(/^-\\s*/, '').trim())\n    .filter(Boolean);\n}\n\nconst PLACEHOLDER = ['[nicht angegeben]','[nicht verfügbar]','[unbekannt]','k.a.','leer','keine angabe','n/a'];\nconst isPlaceholder = v => !v || PLACEHOLDER.some(p => v.toLowerCase().trim() === p || v.toLowerCase().includes('k.a.'));\n\nconst esc = s => (s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\nconst md = s => esc(s||'')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n  .replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g, '<a href=\"$2\" style=\"color:#3b82f6;text-decoration:underline;\">$1</a>');\n\nconst sections = parseSections(rawText);\nconst date = new Date().toLocaleDateString('de-DE', {day:'2-digit', month:'long', year:'numeric'});\n\nlet sectionsHtml = '';\n\nfor (const sec of sections) {\n\n  if (sec.name === 'LINKEDIN-RADAR') {\n    const posts = parseLinkedIn(sec.content);\n    if (!posts.length) continue;\n    let cards = '';\n    for (const p of posts) {\n      const initials = (p.author||'?').split(' ').map(w=>w[0]||'').join('').substring(0,2).toUpperCase();\n      const hasUrl = p.url && p.url.startsWith('http');\n      const jobTitle = isPlaceholder(p.jobTitle) ? '' : p.jobTitle;\n      const company  = isPlaceholder(p.company)  ? '' : p.company;\n      const showDate = p.date && !isPlaceholder(p.date);\n      const subtitle = [jobTitle, company].filter(Boolean).join(' · ');\n      cards += `\n<div style=\"background:#fff;border:1px solid #e2e8f0;border-radius:12px;padding:20px;margin-bottom:12px;border-left:4px solid #3b82f6;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:12px;\">\n    <tr>\n      <td width=\"44\" valign=\"middle\">\n        <div style=\"width:44px;height:44px;border-radius:50%;background:linear-gradient(135deg,#3b82f6,#1d4ed8);color:#fff;text-align:center;line-height:44px;font-weight:700;font-size:14px;\">${esc(initials)}</div>\n      </td>\n      <td style=\"padding-left:12px;\" valign=\"middle\">\n        <div style=\"font-weight:700;color:#0f172a;font-size:14px;\">${esc(p.author||'')}</div>\n        ${subtitle ? `<div style=\"color:#64748b;font-size:12px;\">${esc(subtitle)}</div>` : ''}\n      </td>\n      <td align=\"right\" valign=\"middle\">\n        ${showDate ? `<div style=\"color:#94a3b8;font-size:11px;\">${esc(p.date)}</div>` : ''}\n        ${p.reactions ? `<div style=\"color:#3b82f6;font-size:12px;font-weight:600;\">👍 ${p.reactions}</div>` : ''}\n      </td>\n    </tr>\n  </table>\n  <p style=\"color:#334155;font-size:14px;line-height:1.6;margin:0 0 14px;font-style:italic;border-left:3px solid #bfdbfe;padding-left:12px;\">${esc(p.text||'')}</p>\n  ${hasUrl ? `<a href=\"${esc(p.url)}\" style=\"display:inline-block;background:#3b82f6;color:#fff;text-decoration:none;padding:8px 18px;border-radius:6px;font-size:12px;font-weight:700;letter-spacing:0.3px;\">→ Zum Post</a>` : ''}\n</div>`;\n    }\n    sectionsHtml += `\n<div style=\"margin-bottom:36px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;\">\n    <tr>\n      <td style=\"background:#eff6ff;border-left:4px solid #3b82f6;border-radius:0 8px 8px 0;padding:12px 16px;\">\n        <span style=\"font-size:16px;font-weight:800;color:#0f172a;\">📣 LinkedIn-Radar</span>\n        <span style=\"float:right;font-size:11px;color:#94a3b8;margin-top:2px;\">${posts.length} Posts</span>\n      </td>\n    </tr>\n  </table>\n  ${cards}\n</div>`;\n  }\n\n  else if (sec.name === 'AUSSCHREIBUNGEN') {\n    const items = parseBullets(sec.content);\n    if (!items.length) continue;\n    let rows = items.map(item => `\n<tr>\n  <td style=\"padding:10px 0;border-bottom:1px solid #f1f5f9;color:#334155;font-size:14px;line-height:1.5;\">\n    <span style=\"display:inline-block;width:8px;height:8px;background:#22c55e;border-radius:50%;margin-right:8px;vertical-align:middle;\"></span>\n    ${md(item)}\n  </td>\n</tr>`).join('');\n    sectionsHtml += `\n<div style=\"margin-bottom:36px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;\">\n    <tr><td style=\"background:#f0fdf4;border-left:4px solid #22c55e;border-radius:0 8px 8px 0;padding:12px 16px;\">\n      <span style=\"font-size:16px;font-weight:800;color:#0f172a;\">💎 Ausschreibungen</span>\n    </td></tr>\n  </table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${rows}</table>\n</div>`;\n  }\n\n  else {\n    const ICONS   = { PERSONAL:'🔥', DIGITALISIERUNG:'🤖', FLURFUNK:'💬', 'GKV-NACHRICHTEN':'🏥' };\n    const LABELS  = { PERSONAL:'Personal & Vorstand', DIGITALISIERUNG:'Digitalisierung & IT', FLURFUNK:'Flurfunk', 'GKV-NACHRICHTEN':'GKV-Nachrichten' };\n    const icon    = ICONS[sec.name]  || '📌';\n    const label   = LABELS[sec.name] || sec.name;\n    const items   = parseBullets(sec.content);\n    let body = '';\n    if (items.length) {\n      body = items.map(item => `\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f1f5f9;color:#334155;font-size:14px;line-height:1.5;\">\n  <span style=\"color:#64748b;margin-right:8px;\">›</span>${md(item)}\n</td></tr>`).join('');\n      body = `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${body}</table>`;\n    } else {\n      body = `<p style=\"color:#334155;font-size:14px;line-height:1.6;margin:0;\">${md(sec.content)}</p>`;\n    }\n    sectionsHtml += `\n<div style=\"margin-bottom:36px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;\">\n    <tr><td style=\"background:#f8fafc;border-left:4px solid #64748b;border-radius:0 8px 8px 0;padding:12px 16px;\">\n      <span style=\"font-size:16px;font-weight:800;color:#0f172a;\">${icon} ${esc(label)}</span>\n    </td></tr>\n  </table>\n  ${body}\n</div>`;\n  }\n}\n\nif (!sectionsHtml) {\n  sectionsHtml = '<p style=\"color:#64748b;font-size:14px;\">Heute keine relevanten Meldungen verfügbar.</p>';\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#dbeafe;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;\">\n<div style=\"max-width:680px;margin:0 auto;padding:32px 16px 48px;\">\n\n  <div style=\"background:linear-gradient(150deg,#0f172a 0%,#1e3a5f 60%,#1d4ed8 100%);border-radius:16px 16px 0 0;padding:40px 44px 32px;text-align:center;\">\n    <div style=\"font-size:10px;font-weight:800;letter-spacing:5px;text-transform:uppercase;color:#60a5fa;margin-bottom:12px;\">GKV Intelligence Brief</div>\n    <div style=\"font-size:36px;font-weight:900;color:#f8fafc;letter-spacing:-1px;margin-bottom:6px;\">KassenInfodienst</div>\n    <div style=\"font-size:13px;color:#93c5fd;margin-bottom:24px;\">Fakten · Zahlen · Namen</div>\n    <div style=\"display:inline-block;background:rgba(255,255,255,0.08);border:1px solid rgba(255,255,255,0.15);border-radius:20px;padding:6px 18px;font-size:12px;color:#bfdbfe;\">\n      📅 ${date}\n    </div>\n  </div>\n\n  <div style=\"height:4px;background:linear-gradient(90deg,#3b82f6,#60a5fa,#93c5fd);\"></div>\n\n  <div style=\"background:#fff;padding:40px 44px;border-radius:0 0 16px 16px;border:1px solid #bfdbfe;border-top:none;\">\n    ${sectionsHtml}\n  </div>\n\n  <div style=\"text-align:center;margin-top:24px;color:#64748b;font-size:11px;line-height:2;\">\n    KassenInfodienst &nbsp;·&nbsp; Claude Sonnet 4.6 &nbsp;·&nbsp; ${date}\n  </div>\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { newsletter_text: rawText, newsletter_html: html, generated_at: new Date().toISOString() } }];\n"
      },
      "id": "build-html",
      "name": "HTML-Email aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-sonnet-4-6\", max_tokens: 3500, system: [{ type: \"text\", text: \"Du bist Nachrichtenredakteur des KassenInfodienst \\u2013 GKV Intelligence Brief.\\n\\nSTIL: Sachlich, faktisch, pr\\u00e4zise. Keine Meinungen, keine Metaphern, keine Glossen.\\nJede Aussage braucht: Wer, Was, Wann. Zahlen und Namen immer nennen.\\n\\nAUSGABEFORMAT (exakt einhalten):\\n\\n=== SEKTION: LINKEDIN-RADAR ===\\nF\\u00fcr jeden relevanten Post (max. 20):\\nAUTHOR: [Wert aus AUTHOR]\\nPOSITION: [Wert aus POSITION]\\nCOMPANY: [Wert aus COMPANY]\\nDATE: [Wert aus DATE]\\nREACTIONS: [Wert aus REACTIONS]\\nURL: [Wert aus URL]\\nTEXT: [Mix aus direktem Zitat (in Anf\\u00fchrungszeichen) und sachlicher Einordnung \\u2013 max. 300 Zeichen. Beispiel: \\\"Digitalisierung scheitert an Priorisierung\\\" \\u2013 Hauser sieht fehlende Top-Priorit\\u00e4t als Haupthindernis f\\u00fcr GKV-IT-Projekte.]\\n---\\n\\n=== SEKTION: PERSONAL ===\\n- [Name], [neue Rolle], [Firma][, ab DATUM \\u2013 nur wenn Datum bekannt]\\n\\n=== SEKTION: AUSSCHREIBUNGEN ===\\nAlle relevanten Ausschreibungen vollst\\u00e4ndig auff\\u00fchren:\\n- [Auftraggeber]: [Titel] \\u2013 Wert: [EUR wenn bekannt] \\u2013 Frist: [Datum wenn bekannt]\\n\\n=== SEKTION: DIGITALISIERUNG ===\\nAlle relevanten Meldungen vollst\\u00e4ndig auff\\u00fchren:\\n- [Firma]: [Konkretes Projekt/Rollout/Partnerschaft] \\u2013 [Datum] \\u2013 [Quelle]\\n\\n=== SEKTION: GKV-NACHRICHTEN ===\\nAlle relevanten GKV-Meldungen vollst\\u00e4ndig auff\\u00fchren:\\n- [Organisation]: [Meldung] \\u2013 [Datum] \\u2013 [Quelle]\\n\\nREGELN:\\n- Jeden Datenpunkt aus den Eingaben verwenden \\u2013 nichts weglassen\\n- Nur Sektionen ausgeben wenn echte Daten vorhanden\\n- Keine Einleitung, kein Schluss, kein F\\u00fclltext\\n- Kein Markdown (keine **fett**, keine *kursiv*)\\n- POSITION/COMPANY: nur reale Daten \\u2013 wenn leer, Zeile trotzdem ausgeben aber leer lassen\", cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: \"Newsletter erstellen. Verwende ALLE vorliegenden Daten vollst\\u00e4ndig:\\n\\n\" + $json.haiku_scored }] }) }}",
        "options": {
          "timeout": 130000
        }
      },
      "id": "claude-sonnet-newsletter",
      "name": "Claude Sonnet: Newsletter schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rfQjWh9ed157YC85",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst linkedinItems = items.filter(i => i.json._source === 'LinkedIn').slice(0, 15);\nconst otherItems = items.filter(i => i.json._source !== 'LinkedIn');\n\nconst GKV_TERMS = ['krankenkasse','gkv','bitmarck','itsc','gematik','beitrag',\n  'fusion','vorstand','digitalisierung','ausschreibung','kasse','versicherung',\n  'krankenversicherung','kassenvorstand','epa','telematik','ti 2','ti2'];\nconst HIGH_TERMS = ['fusion','fusionierung','vorstandswechsel','bitmarck','itsc',\n  'ausschreibung','insolvenz','gematik','epa ','ti 2','providerwechsel','govdigital',\n  '21c','zusammenschluss'];\n\nfunction scoreItem(item) {\n  const text = ((item.json.title||'') + ' ' + (item.json.contentSnippet||item.json.text||'')).toLowerCase();\n  let s = 0;\n  if (HIGH_TERMS.some(t => text.includes(t))) s += 3;\n  if (GKV_TERMS.some(t => text.includes(t))) s += 2;\n  return s;\n}\n\nconst topOthers = otherItems\n  .map(i => ({ ...i, json: { ...i.json, _score: scoreItem(i) } }))\n  .filter(i => i.json._score >= 2)\n  .sort((a, b) => b.json._score - a.json._score)\n  .slice(0, 20);\n\nconst selected = [...linkedinItems, ...topOthers];\n\nlet text = `=== STATISTIK ===\\nGesamt: ${selected.length} Einträge\\nLinkedIn-Posts: ${linkedinItems.length}\\n=================\\n\\n`;\n\nif (linkedinItems.length > 0) {\n  text += `=== LINKEDIN-POSTS (exakt so übernehmen, keine Felder weglassen) ===\\n\\n`;\n  for (const item of linkedinItems) {\n    text += `AUTHOR: ${item.json.author || 'Unbekannt'}\\n`;\n    text += `POSITION: ${item.json.authorTitle || ''}\\n`;\n    text += `COMPANY: ${item.json.authorCompany || ''}\\n`;\n    text += `DATE: ${item.json.postedAt || ''}\\n`;\n    text += `REACTIONS: ${item.json.reactions || 0}\\n`;\n    text += `URL: ${item.json.link || ''}\\n`;\n    text += `TEXT: ${(item.json.text || '').substring(0, 280)}\\n`;\n    text += `---\\n`;\n  }\n  text += `\\n`;\n}\n\nfor (const item of topOthers) {\n  const src = item.json._source || 'Unbekannt';\n  const title = item.json.title || item.json.text?.substring(0, 100) || '';\n  const url = item.json.url || item.json.link || '';\n  const date = item.json.pubDate || item.json.postedAt || '';\n  const body = item.json.contentSnippet || item.json.text?.substring(0, 300) || '';\n  text += `### [${src}] ${title}\\n`;\n  if (date) text += `Datum: ${date}\\n`;\n  if (url) text += `URL: ${url}\\n`;\n  if (body) text += `${body}\\n\\n`;\n}\n\nconst clean = text.replace(/[\\uD800-\\uDFFF]/g, '');\nreturn [{ json: { haiku_scored: clean, item_count: selected.length, linkedin_count: linkedinItems.length } }];\n"
      },
      "id": "format-for-claude",
      "name": "Rohdaten für Claude formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "largerEqual",
              "value2": 5
            }
          ]
        },
        "options": {}
      },
      "id": "threshold-check",
      "name": "≥ 5 neue Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seen = new Set();\nconst fresh = [];\n\nfor (const item of items) {\n  const key = item.json.url || item.json.link || item.json.id ||\n              (item.json.title || '') + (item.json.text || '').substring(0, 80);\n  const hash = String(key || Math.random()).replace(/\\s+/g, '').toLowerCase();\n  if (!seen.has(hash)) {\n    seen.add(hash);\n    fresh.push({ ...item, json: { ...item.json, _hash: hash } });\n  }\n}\n\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\nreturn fresh.filter(item => {\n  if (item.json._source === 'LinkedIn') return true;\n  const pub = item.json.pubDate || item.json.postedAt || item.json['publication-date'];\n  if (!pub) return true;\n  return new Date(pub) >= cutoff;\n});\n"
      },
      "id": "dedup",
      "name": "Deduplizierung + Zeitfilter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        336
      ]
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "id": "merge-all",
      "name": "Alle Quellen zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        992,
        224
      ]
    },
    {
      "parameters": {
        "url": "https://www.gkv-spitzenverband.de/gkv_spitzenverband/presse/pressemitteilungen_und_statements/rss_pressemitteilungen.xml",
        "options": {}
      },
      "id": "rss-bafin",
      "name": "RSS: GKV Gesundheitspolitik",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        192,
        1120
      ]
    },
    {
      "parameters": {
        "url": "https://www.heise.de/rss/heise-atom.xml",
        "options": {}
      },
      "id": "rss-heise",
      "name": "RSS: Heise",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        192,
        976
      ]
    },
    {
      "parameters": {
        "url": "https://www.aerzteblatt.de/rss/news.asp",
        "options": {}
      },
      "id": "rss-aerzteblatt",
      "name": "RSS: Ärzteblatt",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        192,
        800
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=vdek+Ersatzkassen&hl=de&gl=DE&ceid=DE:de",
        "options": {}
      },
      "id": "rss-vdek",
      "name": "RSS: vdek",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        208,
        608
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=GKV-Spitzenverband&hl=de&gl=DE&ceid=DE:de",
        "options": {}
      },
      "id": "rss-gkv",
      "name": "RSS: GKV-Spitzenverband",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        176,
        368
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "linkedin-api-call",
      "name": "LinkedIn API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2AZJHqeS0X9NUG2A",
          "name": "linkdAPI Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const BASE = \"https://linkdapi.com/api/v1/search/posts\";\nconst C = {\n  bitmarck: \"955964\", itsc: \"8195481\", gematik: \"125822\",\n  dak: \"42928985\", tk: \"41317\", barmer: \"18012268\",\n  hkk: \"10699871\", hek: \"36667598\", kkh: \"39196\",\n  ikk: \"1412986\", viactiv: \"12414104\"\n};\n\nconst queries = [\n  { keyword: \"ePA\",             authorCompany: C.gematik },\n  { keyword: \"Telematik\",       authorCompany: C.gematik },\n  { keyword: \"Cloud\",           authorCompany: C.bitmarck, authorJobTitle: \"CIO\" },\n  { keyword: \"Atlassian\",       authorCompany: C.bitmarck },\n  { keyword: \"SAP\",             authorCompany: C.bitmarck },\n  { keyword: \"Digitalisierung\", authorCompany: C.bitmarck },\n  { keyword: \"IT-Strategie\",    authorCompany: C.itsc },\n  { keyword: \"Cloud\",           authorCompany: C.itsc },\n  { keyword: \"ePA\",             authorCompany: C.dak,     authorJobTitle: \"Vorstand\" },\n  { keyword: \"Digitalisierung\", authorCompany: C.tk,      authorJobTitle: \"CIO\" },\n  { keyword: \"NIS2\",            authorCompany: C.barmer },\n  { keyword: \"ePA\",             authorCompany: C.tk },\n  { keyword: \"Digitalisierung\", authorJobTitle: \"CIO\" },\n  { keyword: \"NIS2\",            authorJobTitle: \"Vorstand\" },\n  { keyword: \"ePA\",             authorJobTitle: \"CIO\" },\n];\n\nreturn queries.map(q => {\n  let url = BASE + \"?keyword=\" + encodeURIComponent(q.keyword)\n    + \"&sortBy=relevance&datePosted=past-week&count=10\";\n  if (q.authorCompany)  url += \"&authorCompany=\"  + q.authorCompany;\n  if (q.authorJobTitle) url += \"&authorJobTitle=\" + encodeURIComponent(q.authorJobTitle);\n  return { json: { url, ...q } };\n});\n"
      },
      "id": "linkedin-query-gen",
      "name": "LinkedIn Query Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const body = item.json;\n  const posts = body.data?.posts ?? body.data ?? body.posts ?? body.results ?? (Array.isArray(body) ? body : []);\n\n  for (const post of posts) {\n    const eng = post.engagements ?? {};\n    const reactions = eng.totalReactions ?? eng.totalReactionCount ?? 0;\n    const author = post.author ?? post.actor ?? {};\n    const postedAtMs = post.postedAt?.timestamp ?? post.postedAt ?? '';\n    const dateStr = postedAtMs ? new Date(Number(postedAtMs)).toLocaleDateString('de-DE') : '';\n\n    results.push({ json: {\n      _source:        'LinkedIn',\n      title:          (author.name ?? '') + ': ' + (post.text ?? '').slice(0, 120),\n      text:           post.text ?? '',\n      link:           post.postURL ?? post.url ?? post.postUrl ?? '',\n      postedAt:       dateStr,\n      reactions,\n      comments:       eng.commentsCount ?? eng.commentCount ?? 0,\n      author:         author.name ?? author.fullName ?? '',\n      authorTitle:    author.headline ?? author.title ?? '',\n      authorCompany:  author.companyName ?? author.company ?? '',\n      authorImageUrl: author.profilePictureURL ?? author.profilePicture ?? author.picture ?? '',\n      postImageUrl:   post.image?.url ?? post.images?.[0]?.url ?? '',\n      contentSnippet: `${author.name ?? ''}: ${(post.text ?? '').substring(0, 300)}`,\n    }});\n  }\n}\n\nreturn results;\n"
      },
      "id": "linkedin-flatten",
      "name": "LinkedIn Posts aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ted.europa.eu/v3/notices/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'buyer-country = DEU AND publication-date >= ' + $now.minus({days: 30}).toFormat('yyyyMMdd'), fields: ['publication-number','notice-title','buyer-name','classification-cpv','total-value','estimated-value-proc','publication-date','notice-type'], limit: 250, scope: 'ALL', paginationMode: 'PAGE_NUMBER', page: 1 }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "ted-api",
      "name": "TED Ausschreibungen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        32
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "trigger-daily",
      "name": "Täglich 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1056,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "freshness-check",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $now.minus({ minutes: 35 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "breaking-filter",
      "name": "Neu in letzten 35min?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        -160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Breaking News Check (alle 30min)": {
      "main": [
        [
          {
            "node": "Google News: Breaking Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google News: Breaking Keywords": {
      "main": [
        [
          {
            "node": "Neu in letzten 35min?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML-Email aufbauen": {
      "main": [
        [
          {
            "node": "Telegram Zusammenfassung",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail versenden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet: Newsletter schreiben": {
      "main": [
        [
          {
            "node": "HTML-Email aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rohdaten für Claude formatieren": {
      "main": [
        [
          {
            "node": "Claude Sonnet: Newsletter schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "≥ 5 neue Items?": {
      "main": [
        [
          {
            "node": "Rohdaten für Claude formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplizierung + Zeitfilter": {
      "main": [
        [
          {
            "node": "≥ 5 neue Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS: Krankenkassendirekt Pressemitteilungen": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS: Krankenkassendirekt": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Alle Quellen zusammenführen": {
      "main": [
        [
          {
            "node": "Deduplizierung + Zeitfilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS: GKV Gesundheitspolitik": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "RSS: Heise": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "RSS: Ärzteblatt": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "RSS: vdek": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS: GKV-Spitzenverband": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "LinkedIn API Call": {
      "main": [
        [
          {
            "node": "LinkedIn Posts aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Query Generator": {
      "main": [
        [
          {
            "node": "LinkedIn API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Posts aufbereiten": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TED Ausschreibungen": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Täglich 06:00": {
      "main": [
        [
          {
            "node": "LinkedIn Query Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: Krankenkassendirekt Pressemitteilungen",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: Krankenkassendirekt",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: GKV Gesundheitspolitik",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: Heise",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: Ärzteblatt",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: vdek",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: GKV-Spitzenverband",
            "type": "main",
            "index": 0
          },
          {
            "node": "TED Ausschreibungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neu in letzten 35min?": {
      "main": [
        [
          {
            "node": "Sofort-Alert via Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c16db758-03df-439e-9317-da37c2be29ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72c145c2167faf7979814495262c8d3a81ee5c3846c79d49fefb968bc71f5892"
  },
  "id": "SRepZZtmoLM5LMnQ",
  "tags": []
}