n8n/kasseninfodienst_workflow.json
{
  "name": "KassenInfodienst – GKV Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "trigger-daily",
      "name": "Täglich 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 5"
            }
          ]
        }
      },
      "id": "trigger-friday",
      "name": "Freitags 08:00 (Weekly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ted.europa.eu/v3/notices/search",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ query: 'buyer-country = DEU AND publication-date >= ' + $now.minus(30, 'days').format('yyyyMMdd'), fields: ['publication-number','notice-title','buyer-name','classification-cpv','total-value','estimated-value-proc','publication-date','notice-type'], limit: 250, scope: 'ALL', paginationMode: 'PAGE_NUMBER', page: 1 }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "ted-api",
      "name": "TED Ausschreibungen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://www.gkv-spitzenverband.de/service/presse/pressemitteilungen/rss_pressemitteilungen.xml"
      },
      "id": "rss-gkv",
      "name": "RSS: GKV-Spitzenverband",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        300,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://www.vdek.com/presse/rss.xml"
      },
      "id": "rss-vdek",
      "name": "RSS: vdek",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        300,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://www.aerzteblatt.de/rss/nachrichten.xml"
      },
      "id": "rss-aerzteblatt",
      "name": "RSS: Ärzteblatt",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://www.heise.de/rss/heise-atom.xml"
      },
      "id": "rss-heise",
      "name": "RSS: Heise",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        300,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://www.bfarm.de/SiteGlobals/Frontend/RSSFeed/nachrichten.xml"
      },
      "id": "rss-bafin",
      "name": "RSS: BaFin / BMG",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        300,
        560
      ]
    },
    {
      "parameters": {
        "mode": "multiplex",
        "clashHandling": {
          "values": {
            "resolveClash": "addSuffix"
          }
        }
      },
      "id": "merge-all",
      "name": "Alle Quellen zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        600,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Per-author daily dedup for LinkedIn via staticData\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.linkedinAuthors) staticData.linkedinAuthors = {};\n\n// Clean up LinkedIn author entries older than 24h\nconst oneDayAgo = Date.now() - 24 * 60 * 60 * 1000;\nfor (const a of Object.keys(staticData.linkedinAuthors)) {\n  if (staticData.linkedinAuthors[a] < oneDayAgo) delete staticData.linkedinAuthors[a];\n}\n\n// URL/hash-based dedup (all sources)\nconst items = $input.all();\nconst seen = new Set();\nconst fresh = [];\n\nfor (const item of items) {\n  const key = item.json.url || item.json.link || item.json.id ||\n              (item.json.title || '') + (item.json.text || '').substring(0, 80);\n  const hash = String(key || Math.random()).replace(/\\s+/g, '').toLowerCase();\n  if (!seen.has(hash)) {\n    seen.add(hash);\n    fresh.push({ ...item, json: { ...item.json, _hash: hash } });\n  }\n}\n\n// Date filter + LinkedIn per-author dedup\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\nreturn fresh.filter(item => {\n  if (item.json._source === 'LinkedIn') {\n    // Per-author: max one post per author per 24h\n    const author = item.json.author;\n    if (author && staticData.linkedinAuthors[author]) return false;\n    if (author) staticData.linkedinAuthors[author] = Date.now();\n    return true; // Always pass LinkedIn through date filter\n  }\n  const pub = item.json.pubDate || item.json.postedAt || item.json['publication-date'];\n  if (!pub) return true;\n  return new Date(pub) >= cutoff;\n});\n"
      },
      "id": "dedup",
      "name": "Deduplizierung + Zeitfilter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "largerEqual",
              "value2": 5
            }
          ]
        }
      },
      "id": "threshold-check",
      "name": "≥ 5 neue Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst linkedinItems = items.filter(i => i.json._source === 'LinkedIn').slice(0, 15);\nconst otherItems = items.filter(i => i.json._source !== 'LinkedIn');\n\nconst GKV_TERMS = ['krankenkasse','gkv','bitmarck','itsc','gematik','beitrag',\n  'fusion','vorstand','digitalisierung','ausschreibung','kasse','versicherung',\n  'krankenversicherung','kassenvorstand','epa','telematik','ti 2','ti2'];\nconst HIGH_TERMS = ['fusion','fusionierung','vorstandswechsel','bitmarck','itsc',\n  'ausschreibung','insolvenz','gematik','epa ','ti 2','providerwechsel','govdigital',\n  '21c','zusammenschluss'];\n\nfunction scoreItem(item) {\n  const text = ((item.json.title||'') + ' ' + (item.json.contentSnippet||item.json.text||'')).toLowerCase();\n  let s = 0;\n  if (HIGH_TERMS.some(t => text.includes(t))) s += 3;\n  if (GKV_TERMS.some(t => text.includes(t))) s += 2;\n  return s;\n}\n\nconst topOthers = otherItems\n  .map(i => ({ ...i, json: { ...i.json, _score: scoreItem(i) } }))\n  .filter(i => i.json._score >= 2)\n  .sort((a, b) => b.json._score - a.json._score)\n  .slice(0, 20);\n\nconst selected = [...linkedinItems, ...topOthers];\nlet text = `=== STATISTIK ===\\nGesamt: ${selected.length} Einträge\\nLinkedIn-Posts: ${linkedinItems.length}\\n=================\\n\\n`;\n\nif (linkedinItems.length > 0) {\n  text += `=== LINKEDIN-POSTS (exakt so übernehmen, keine Felder weglassen) ===\\n\\n`;\n  for (const item of linkedinItems) {\n    text += `AUTHOR: ${item.json.author || 'Unbekannt'}\\n`;\n    text += `POSITION: ${item.json.authorTitle || ''}\\n`;\n    text += `COMPANY: ${item.json.authorCompany || ''}\\n`;\n    text += `DATE: ${item.json.postedAt || ''}\\n`;\n    text += `REACTIONS: ${item.json.reactions || 0}\\n`;\n    text += `URL: ${item.json.link || ''}\\n`;\n    text += `TEXT: ${(item.json.text || '').substring(0, 280)}\\n`;\n    text += `---\\n`;\n  }\n  text += `\\n`;\n}\n\nfor (const item of topOthers) {\n  const src = item.json._source || 'Unbekannt';\n  const title = item.json.title || item.json.text?.substring(0, 100) || '';\n  const url = item.json.url || item.json.link || '';\n  const date = item.json.pubDate || item.json.postedAt || '';\n  const body = item.json.contentSnippet || item.json.text?.substring(0, 300) || '';\n  text += `### [${src}] ${title}\\n`;\n  if (date) text += `Datum: ${date}\\n`;\n  if (url) text += `URL: ${url}\\n`;\n  if (body) text += `${body}\\n\\n`;\n}\n\nconst imageMap = {};\nfor (const item of linkedinItems) {\n  if (item.json.author && item.json.authorImageUrl) {\n    imageMap[item.json.author] = item.json.authorImageUrl;\n  }\n}\n\nconst clean = text.replace(/[\\uD800-\\uDFFF]/g, '');\nreturn [{ json: { haiku_scored: clean, item_count: selected.length, linkedin_count: linkedinItems.length, imageMap } }];\n"
      },
      "id": "format-for-claude",
      "name": "Rohdaten für Claude formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1200, system: [{ type: 'text', text: 'Du bist ein GKV-Marktanalyst. Bewerte jeden Eintrag auf Relevanz für einen IT-Vertriebsmanager im GKV-Markt. Skala 1-5. Gib nur Einträge mit Score ≥ 3 zurück, komprimiert als Bullet-Liste mit Datum, Quelle und Kernaussage.', cache_control: { type: 'ephemeral' } }], messages: [{ role: 'user', content: $json.rohdaten }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "claude-haiku-score",
      "name": "Claude Haiku: Relevanz-Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        100
      ],
      "notes": "Filtert irrelevante Meldungen raus, behält nur Score ≥ 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ model: \"claude-sonnet-4-6\", max_tokens: 4000, system: [{ type: \"text\", text: \"Du bist Nachrichtenredakteur des KassenInfodienst \\u2013 GKV Intelligence Brief.\\n\\nSTIL: Sachlich, faktisch, pr\\u00e4zise. Keine Meinungen, keine Metaphern, keine Glossen.\\nJede Aussage braucht: Wer, Was, Wann. Zahlen und Namen immer nennen.\\n\\nAUSGABEFORMAT (exakt einhalten):\\n\\n=== SEKTION: LINKEDIN-RADAR ===\\nF\\u00fcr jeden relevanten Post (max. 20):\\nAUTHOR: [Wert aus AUTHOR]\\nPOSITION: [Wert aus POSITION]\\nCOMPANY: [Wert aus COMPANY]\\nDATE: [Wert aus DATE]\\nREACTIONS: [Wert aus REACTIONS]\\nURL: [Wert aus URL]\\nTEXT: [Mix aus direktem Zitat (in Anf\\u00fchrungszeichen) und sachlicher Einordnung \\u2013 max. 300 Zeichen]\\n---\\n\\n=== SEKTION: PERSONAL ===\\n- [Name], [neue Rolle], [Firma][, ab DATUM \\u2013 nur wenn Datum bekannt]\\n\\n=== SEKTION: AUSSCHREIBUNGEN ===\\nAlle relevanten Ausschreibungen vollst\\u00e4ndig auff\\u00fchren:\\n- [Auftraggeber]: [Titel] \\u2013 Wert: [EUR wenn bekannt] \\u2013 Frist: [Datum wenn bekannt]\\n\\n=== SEKTION: DIGITALISIERUNG ===\\nAlle relevanten Meldungen vollst\\u00e4ndig auff\\u00fchren:\\n- [Firma]: [Konkretes Projekt/Rollout/Partnerschaft] \\u2013 [Datum] \\u2013 [Quelle]\\n\\n=== SEKTION: GKV-NACHRICHTEN ===\\nAlle relevanten GKV-Meldungen vollst\\u00e4ndig auff\\u00fchren:\\n- [Organisation]: [Meldung] \\u2013 [Datum] \\u2013 [Quelle]\\n\\nREGELN:\\n- Jeden Datenpunkt aus den Eingaben verwenden \\u2013 nichts weglassen\\n- Nur Sektionen ausgeben wenn echte Daten vorhanden\\n- Keine Einleitung, kein Schluss, kein F\\u00fclltext\\n- Kein Markdown (keine **fett**, keine *kursiv*)\\n- POSITION/COMPANY: nur reale Daten \\u2013 wenn leer, Zeile trotzdem ausgeben aber leer lassen\", cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: \"Newsletter erstellen. Verwende ALLE vorliegenden Daten vollst\\u00e4ndig:\\n\\n\" + $json.haiku_scored }] }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "claude-sonnet-newsletter",
      "name": "Claude Sonnet: Newsletter schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content?.[0]?.text || '';\n\n// Sektionen parsen\nfunction parseSections(text) {\n  const sections = [];\n  const rx = /=== SEKTION: (.+?) ===([\\s\\S]*?)(?==== SEKTION:|$)/g;\n  let m;\n  while ((m = rx.exec(text)) !== null) {\n    sections.push({ name: m[1].trim(), content: m[2].trim() });\n  }\n  return sections;\n}\n\n// LinkedIn-Posts aus Sektion parsen\nfunction parseLinkedIn(content) {\n  const posts = [];\n  const blocks = content.split(/^---$/m);\n  for (const block of blocks) {\n    if (!block.trim()) continue;\n    const p = {};\n    for (const line of block.trim().split('\\n')) {\n      const idx = line.indexOf(': ');\n      if (idx < 0) continue;\n      const k = line.substring(0, idx).trim();\n      const v = line.substring(idx + 2).trim();\n      if (k === 'AUTHOR')    p.author = v;\n      if (k === 'POSITION')  { const parts = v.split(' | '); p.jobTitle = parts[0]; p.company = parts[1] || ''; }\n      if (k === 'DATE')      p.date = v;\n      if (k === 'REACTIONS') p.reactions = parseInt(v) || 0;\n      if (k === 'URL')       p.url = v;\n      if (k === 'TEXT')      p.text = v;\n    }\n    if (p.author && p.text) posts.push(p);\n  }\n  return posts;\n}\n\n// Bullet-Liste parsen\nfunction parseBullets(content) {\n  return content.split('\\n')\n    .filter(l => l.trim().startsWith('-'))\n    .map(l => l.replace(/^-\\s*/, '').trim())\n    .filter(Boolean);\n}\n\nconst esc = s => (s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\nconst sections = parseSections(rawText);\nconst date = new Date().toLocaleDateString('de-DE', {day:'2-digit', month:'long', year:'numeric'});\n\nlet sectionsHtml = '';\n\nfor (const sec of sections) {\n\n  // ── LinkedIn-Radar ────────────────────────────────────────────────────\n  if (sec.name === 'LINKEDIN-RADAR') {\n    const posts = parseLinkedIn(sec.content);\n    if (!posts.length) continue;\n    let cards = '';\n    for (const p of posts) {\n      const initials = (p.author||'?').split(' ').map(w=>w[0]||'').join('').substring(0,2).toUpperCase();\n      const hasUrl = p.url && p.url.startsWith('http');\n      cards += `\n<div style=\"background:#fff;border:1px solid #e2e8f0;border-radius:12px;padding:20px;margin-bottom:12px;border-left:4px solid #3b82f6;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:12px;\">\n    <tr>\n      <td width=\"44\" valign=\"middle\">\n        <div style=\"width:44px;height:44px;border-radius:50%;background:linear-gradient(135deg,#3b82f6,#1d4ed8);color:#fff;text-align:center;line-height:44px;font-weight:700;font-size:14px;\">${esc(initials)}</div>\n      </td>\n      <td style=\"padding-left:12px;\" valign=\"middle\">\n        <div style=\"font-weight:700;color:#0f172a;font-size:14px;\">${esc(p.author||'')}</div>\n        <div style=\"color:#64748b;font-size:12px;\">${esc(p.jobTitle||'')}${p.company?' · '+esc(p.company):''}</div>\n      </td>\n      <td align=\"right\" valign=\"middle\">\n        <div style=\"color:#94a3b8;font-size:11px;\">${esc(p.date||'')}</div>\n        <div style=\"color:#3b82f6;font-size:12px;font-weight:600;\">👍 ${p.reactions}</div>\n      </td>\n    </tr>\n  </table>\n  <p style=\"color:#334155;font-size:14px;line-height:1.6;margin:0 0 14px;font-style:italic;border-left:3px solid #bfdbfe;padding-left:12px;\">${esc(p.text||'')}</p>\n  ${hasUrl ? `<a href=\"${esc(p.url)}\" style=\"display:inline-block;background:#3b82f6;color:#fff;text-decoration:none;padding:8px 18px;border-radius:6px;font-size:12px;font-weight:700;letter-spacing:0.3px;\">→ Zum Post</a>` : ''}\n</div>`;\n    }\n    sectionsHtml += `\n<div style=\"margin-bottom:36px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;\">\n    <tr>\n      <td style=\"background:#eff6ff;border-left:4px solid #3b82f6;border-radius:0 8px 8px 0;padding:12px 16px;\">\n        <span style=\"font-size:16px;font-weight:800;color:#0f172a;\">📣 LinkedIn-Radar</span>\n        <span style=\"float:right;font-size:11px;color:#94a3b8;margin-top:2px;\">${posts.length} Posts</span>\n      </td>\n    </tr>\n  </table>\n  ${cards}\n</div>`;\n  }\n\n  // ── Ausschreibungen ───────────────────────────────────────────────────\n  else if (sec.name === 'AUSSCHREIBUNGEN') {\n    const items = parseBullets(sec.content);\n    if (!items.length) continue;\n    let rows = items.map(item => `\n<tr>\n  <td style=\"padding:10px 0;border-bottom:1px solid #f1f5f9;color:#334155;font-size:14px;line-height:1.5;\">\n    <span style=\"display:inline-block;width:8px;height:8px;background:#22c55e;border-radius:50%;margin-right:8px;vertical-align:middle;\"></span>\n    ${esc(item)}\n  </td>\n</tr>`).join('');\n    sectionsHtml += `\n<div style=\"margin-bottom:36px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;\">\n    <tr><td style=\"background:#f0fdf4;border-left:4px solid #22c55e;border-radius:0 8px 8px 0;padding:12px 16px;\">\n      <span style=\"font-size:16px;font-weight:800;color:#0f172a;\">💎 Ausschreibungen</span>\n    </td></tr>\n  </table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${rows}</table>\n</div>`;\n  }\n\n  // ── Action Items ──────────────────────────────────────────────────────\n  else if (sec.name === 'ACTION-ITEMS') {\n    const items = parseBullets(sec.content);\n    if (!items.length) continue;\n    let rows = items.map((item, i) => `\n<tr>\n  <td width=\"30\" valign=\"top\" style=\"padding:10px 0;border-bottom:1px solid #fef9c3;\">\n    <span style=\"display:inline-block;width:22px;height:22px;background:#eab308;border-radius:50%;color:#fff;text-align:center;line-height:22px;font-size:11px;font-weight:700;\">${i+1}</span>\n  </td>\n  <td style=\"padding:10px 0 10px 8px;border-bottom:1px solid #fef9c3;color:#334155;font-size:14px;line-height:1.5;\">${esc(item)}</td>\n</tr>`).join('');\n    sectionsHtml += `\n<div style=\"margin-bottom:36px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;\">\n    <tr><td style=\"background:#fefce8;border-left:4px solid #eab308;border-radius:0 8px 8px 0;padding:12px 16px;\">\n      <span style=\"font-size:16px;font-weight:800;color:#0f172a;\">🎯 Action Items</span>\n    </td></tr>\n  </table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${rows}</table>\n</div>`;\n  }\n\n  // ── Generische Sektionen ─────────────────────────────────────────────\n  else {\n    const ICONS = { PERSONAL:'🔥', DIGITALISIERUNG:'🤖', FLURFUNK:'💬' };\n    const LABELS = { PERSONAL:'Personal & Vorstand', DIGITALISIERUNG:'Digitalisierung & IT', FLURFUNK:'Flurfunk' };\n    const icon = ICONS[sec.name] || '📌';\n    const label = LABELS[sec.name] || sec.name;\n    const items = parseBullets(sec.content);\n    let body = '';\n    if (items.length) {\n      body = items.map(item => `\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f1f5f9;color:#334155;font-size:14px;line-height:1.5;\">\n  <span style=\"color:#64748b;margin-right:8px;\">›</span>${esc(item)}\n</td></tr>`).join('');\n      body = `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${body}</table>`;\n    } else {\n      body = `<p style=\"color:#334155;font-size:14px;line-height:1.6;margin:0;\">${esc(sec.content)}</p>`;\n    }\n    sectionsHtml += `\n<div style=\"margin-bottom:36px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;\">\n    <tr><td style=\"background:#f8fafc;border-left:4px solid #64748b;border-radius:0 8px 8px 0;padding:12px 16px;\">\n      <span style=\"font-size:16px;font-weight:800;color:#0f172a;\">${icon} ${esc(label)}</span>\n    </td></tr>\n  </table>\n  ${body}\n</div>`;\n  }\n}\n\nif (!sectionsHtml) {\n  sectionsHtml = '<p style=\"color:#64748b;font-size:14px;\">Heute keine relevanten Meldungen verfügbar.</p>';\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#dbeafe;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;\">\n<div style=\"max-width:680px;margin:0 auto;padding:32px 16px 48px;\">\n\n  <!-- HEADER -->\n  <div style=\"background:linear-gradient(150deg,#0f172a 0%,#1e3a5f 60%,#1d4ed8 100%);border-radius:16px 16px 0 0;padding:40px 44px 32px;text-align:center;\">\n    <div style=\"font-size:10px;font-weight:800;letter-spacing:5px;text-transform:uppercase;color:#60a5fa;margin-bottom:12px;\">GKV Intelligence Brief</div>\n    <div style=\"font-size:36px;font-weight:900;color:#f8fafc;letter-spacing:-1px;margin-bottom:6px;\">KassenInfodienst</div>\n    <div style=\"font-size:13px;color:#93c5fd;margin-bottom:24px;\">Fakten · Zahlen · Namen</div>\n    <div style=\"display:inline-block;background:rgba(255,255,255,0.08);border:1px solid rgba(255,255,255,0.15);border-radius:20px;padding:6px 18px;font-size:12px;color:#bfdbfe;\">\n      📅 ${date}\n    </div>\n  </div>\n\n  <!-- DIVIDER -->\n  <div style=\"height:4px;background:linear-gradient(90deg,#3b82f6,#60a5fa,#93c5fd);\"></div>\n\n  <!-- CONTENT -->\n  <div style=\"background:#fff;padding:40px 44px;border-radius:0 0 16px 16px;border:1px solid #bfdbfe;border-top:none;\">\n    ${sectionsHtml}\n  </div>\n\n  <!-- FOOTER -->\n  <div style=\"text-align:center;margin-top:24px;color:#64748b;font-size:11px;line-height:2;\">\n    KassenInfodienst &nbsp;·&nbsp; Claude Sonnet 4.6 &nbsp;·&nbsp; ${date}\n  </div>\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { newsletter_text: rawText, newsletter_html: html, generated_at: new Date().toISOString() } }];"
      },
      "id": "build-html",
      "name": "HTML-Email aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        100
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $vars.RECIPIENT_EMAIL }}",
        "subject": "=🏥 KassenInfodienst – {{ new Date().toLocaleDateString('de-DE') }}",
        "emailType": "html",
        "message": "={{ $json.newsletter_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-gmail",
      "name": "Gmail versenden",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        100
      ],
      "notes": "Benötigt Gmail OAuth2 Credential in n8n"
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "=🏥 *KassenInfodienst* – {{ new Date().toLocaleDateString('de-DE') }}\n\n{{ $json.newsletter_text.substring(0, 800) }}...\n\n_Vollständige Mail wurde versendet._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram Zusammenfassung",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        240
      ],
      "notes": "Optional – nur wenn TELEGRAM_CHAT_ID gesetzt"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "breaking-trigger",
      "name": "Breaking News Check (alle 30min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=GKV+%28Fusion+OR+BaFin+OR+Insolvenz+OR+Stellenabbau+OR+BITMARCK+OR+ITSC%29&hl=de&gl=DE&ceid=DE:de",
        "options": {
          "timeout": 10000
        }
      },
      "id": "breaking-rss",
      "name": "Google News: Breaking Keywords",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        300,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.pubDate }}",
              "operation": "after",
              "value2": "={{ $now.minus(35, 'minutes').toISO() }}"
            }
          ]
        }
      },
      "id": "breaking-filter",
      "name": "Neu in letzten 35min?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "=🚨 *Breaking GKV-News*\n\n*{{ $json.title }}*\n{{ $json.contentSnippet?.substring(0, 300) }}\n\n🔗 {{ $json.link }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "breaking-telegram",
      "name": "Sofort-Alert via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        560
      ]
    },
    {
      "id": "linkedin-query-gen",
      "name": "LinkedIn Query Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const BASE = \"https://linkdapi.com/api/v1/search/posts\";\nconst C = {\n  // GKV-IT-Vendors (IDs bekannt)\n  bitmarck: \"955964\", itsc: \"8195481\", gematik: \"125822\",\n  // Kassen (IDs bekannt)\n  dak: \"42928985\", tk: \"41317\", barmer: \"18012268\",\n  hkk: \"10699871\", hek: \"36667598\", kkh: \"39196\",\n  ikk: \"1412986\", viactiv: \"12414104\",\n  // Neue IT-Dienstleister – ID ermitteln:\n  // 1. linkedin.com/company/SLUG öffnen\n  // 2. \"Alle Mitarbeiter anzeigen\" klicken\n  // 3. URL enthält f_C=XXXXXXX → das ist die ID\n  // adesso:  null, // slug: adesso-se\n  // arvato:  null, // slug: arvato-systems\n  // init:    null, // slug: initgroup\n  // hbsn:    null, // slug: hbsn-ag\n  // msg:     null, // slug: msggroup\n  // icraft:  null, // slug: icraft-gmbh\n  // dvelop:  null, // slug: d-velop\n  // atacama: null, // slug: atacama-software-gmbh\n};\n\nconst queries = [\n  // ── Tier 1: GKV-IT-Vendors (kein Rollenfilter nötig) ──────────────────\n  { keyword: \"NIS2\",               authorCompany: C.bitmarck },\n  { keyword: \"SAP\",                authorCompany: C.bitmarck },\n  { keyword: \"Atlassian\",          authorCompany: C.bitmarck },\n  { keyword: \"Cloud Transformation\", authorCompany: C.bitmarck },\n  { keyword: \"IT Strategie\",       authorCompany: C.itsc },\n  { keyword: \"RPA\",                authorCompany: C.itsc },\n  { keyword: \"ePA\",                authorCompany: C.gematik },\n  { keyword: \"Digitalisierung\",    authorCompany: C.gematik },\n  // ── Tier 2: Kassen mit Rollenfilter ───────────────────────────────────\n  { keyword: \"NIS2\",               authorCompany: C.tk,     authorJobTitle: \"CIO\" },\n  { keyword: \"IT Strategie\",       authorCompany: C.tk,     authorJobTitle: \"CIO\" },\n  { keyword: \"ePA\",                authorCompany: C.dak,    authorJobTitle: \"Vorstand\" },\n  { keyword: \"Digitalisierung\",    authorCompany: C.barmer, authorJobTitle: \"CDO\" },\n  { keyword: \"NIS2\",               authorCompany: C.barmer, authorJobTitle: \"Vorstand\" },\n  // ── Tier 3: Neue IT-Dienstleister (aktivieren sobald IDs bekannt) ─────\n  // { keyword: \"GKV\",             authorCompany: C.adesso,  authorJobTitle: \"CIO\" },\n  // { keyword: \"ePA\",             authorCompany: C.arvato,  authorJobTitle: \"CIO\" },\n  // { keyword: \"NIS2\",            authorCompany: C.msg,     authorJobTitle: \"Vorstand\" },\n  // { keyword: \"Digitalisierung\", authorCompany: C.dvelop,  authorJobTitle: \"CDO\" },\n  // { keyword: \"IT Strategie\",    authorCompany: C.atacama, authorJobTitle: \"CIO\" },\n  // { keyword: \"GKV\",             authorCompany: C.icraft,  authorJobTitle: \"CIO\" },\n  // { keyword: \"ePA\",             authorCompany: C.init,    authorJobTitle: \"CTO\" },\n  // { keyword: \"NIS2\",            authorCompany: C.hbsn,    authorJobTitle: \"Vorstand\" },\n];\n\nreturn queries.map(q => {\n  let url = BASE + \"?keyword=\" + encodeURIComponent(q.keyword)\n    + \"&sortBy=relevance&datePosted=past-week&count=10\";\n  if (q.authorCompany)  url += \"&authorCompany=\"  + q.authorCompany;\n  if (q.authorJobTitle) url += \"&authorJobTitle=\" + encodeURIComponent(q.authorJobTitle);\n  return { json: { url, ...q } };\n});"
      }
    },
    {
      "id": "linkedin-api-call",
      "name": "LinkedIn API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "linkedin-posts-aufbereiten",
      "name": "LinkedIn Posts aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const body = item.json;\n  const posts = body.data?.posts ?? body.data ?? body.posts ?? body.results ?? (Array.isArray(body) ? body : []);\n\n  for (const post of posts) {\n    const eng = post.engagements ?? {};\n    const reactions = eng.totalReactions ?? eng.totalReactionCount ?? post.totalReactionCount ?? post.likeCount ?? post.reactions ?? 0;\n    const author = post.author ?? post.actor ?? {};\n    const postedAtMs = post.postedAt?.timestamp ?? post.postedAt ?? '';\n    const dateStr = postedAtMs ? new Date(Number(postedAtMs)).toLocaleDateString('de-DE') : '';\n\n    results.push({ json: {\n      _source:        'LinkedIn',\n      title:          (author.name ?? '') + ': ' + (post.text ?? '').slice(0, 120),\n      text:           post.text ?? '',\n      link:           post.postURL ?? post.url ?? post.postUrl ?? post.shareUrl ?? '',\n      postedAt:       dateStr,\n      reactions,\n      comments:       eng.commentsCount ?? eng.commentCount ?? post.numComments ?? 0,\n      author:         author.name ?? author.fullName ?? '',\n      authorTitle:    author.headline ?? author.title ?? '',\n      authorCompany:  author.companyName ?? author.company ?? '',\n      authorImageUrl: author.profilePictureURL ?? author.profilePicture ?? author.picture ?? '',\n      postImageUrl:   post.image?.url ?? post.images?.[0]?.url ?? '',\n      contentSnippet: `${author.name ?? ''}: ${(post.text ?? '').substring(0, 300)}`,\n    }});\n  }\n}\n\nreturn results;\n"
      }
    }
  ],
  "connections": {
    "Täglich 06:00": {
      "main": [
        [
          {
            "node": "TED Ausschreibungen",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: GKV-Spitzenverband",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: vdek",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: Ärzteblatt",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: Heise",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: BaFin / BMG",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Query Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freitags 08:00 (Weekly)": {
      "main": [
        [
          {
            "node": "TED Ausschreibungen",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS: GKV-Spitzenverband",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Query Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TED Ausschreibungen": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS: GKV-Spitzenverband": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS: vdek": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS: Ärzteblatt": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS: Heise": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "RSS: BaFin / BMG": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Alle Quellen zusammenführen": {
      "main": [
        [
          {
            "node": "Deduplizierung + Zeitfilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplizierung + Zeitfilter": {
      "main": [
        [
          {
            "node": "≥ 5 neue Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "≥ 5 neue Items?": {
      "main": [
        [
          {
            "node": "Rohdaten für Claude formatieren",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Rohdaten für Claude formatieren": {
      "main": [
        [
          {
            "node": "Claude Haiku: Relevanz-Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku: Relevanz-Scoring": {
      "main": [
        [
          {
            "node": "Claude Sonnet: Newsletter schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet: Newsletter schreiben": {
      "main": [
        [
          {
            "node": "HTML-Email aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML-Email aufbauen": {
      "main": [
        [
          {
            "node": "Gmail versenden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Zusammenfassung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Breaking News Check (alle 30min)": {
      "main": [
        [
          {
            "node": "Google News: Breaking Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google News: Breaking Keywords": {
      "main": [
        [
          {
            "node": "Neu in letzten 35min?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neu in letzten 35min?": {
      "main": [
        [
          {
            "node": "Sofort-Alert via Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LinkedIn Query Generator": {
      "main": [
        [
          {
            "node": "LinkedIn API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn API Call": {
      "main": [
        [
          {
            "node": "LinkedIn Posts aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Posts aufbereiten": {
      "main": [
        [
          {
            "node": "Alle Quellen zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "n8n_version_created_with": "1.30.0"
  },
  "_notes": {
    "credentials_needed": [
      "httpHeaderAuth: Name='LinkdAPI', Header Name='X-API-Key', Value=LINKDAPI_KEY",
      "gmail: OAuth2 mit deiner Gmail-Adresse",
      "telegram: Bot-Token aus @BotFather",
      "anthropicApiKey: als n8n Variable setzen (Settings → Variables)"
    ],
    "variables_needed": [
      "RECIPIENT_EMAIL: Empfänger-Email",
      "TELEGRAM_CHAT_ID: Deine Telegram Chat-ID (von @userinfobot)",
      "anthropicApiKey: Claude API Key"
    ],
    "linkedin_orgs": [
      "Techniker Krankenkasse",
      "BARMER Krankenkasse",
      "DAK-Gesundheit",
      "IKK classic",
      "KKH Kaufmännische Krankenkasse",
      "SBK Siemens-Betriebskrankenkasse",
      "hkk Handelskrankenkasse",
      "BKK firmus",
      "Mobil Krankenkasse",
      "Audi BKK",
      "VIACTIV Krankenkasse",
      "IKK Südwest",
      "HEK Hanseatische Krankenkasse",
      "Pronova BKK",
      "BAHN-BKK",
      "BITMARCK",
      "ITSC GmbH"
    ],
    "import_instructions": "In n8n: Settings → Import Workflow → Diese JSON-Datei wählen"
  }
}